[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = false
name = 'pypi'

[requires]
python_version = '3.7'

[packages]
gym = '*'
jupyter = '*'
matplotlib = '*'
seaborn = '*'
sklearn = '*'
tqdm = '*'

[dev-packages]
pyinstaller = '*'
mypy = '*'
pytest = '*'
